{% extends 'base.html' %}
{% block content %}

<h2>Add Student</h2>

<form method="POST">
    {% csrf_token %}

    <input name="username" placeholder="Username"><br><br>
    <input name="password" placeholder="Password"><br><br>

    <input name="department" placeholder="CSE / ECE / EEE"><br><br>
    <input name="percentage" placeholder="Percentage"><br><br>
    <textarea name="skills" placeholder="Skills"></textarea><br><br>

    <button type="submit">Add Student</button>
</form>

{% endblock %}